@import 'hentai/_animation.sass'

*
    font-family: 'Inconsolata', sans-serif

body
    background-color: #1a1a1a
    color: white
    margin: 0
    padding: 0
    position: relative
.container
    width: 100%
    height: 100%
    margin: 0 auto
    margin-top: 45px
    span
        width: 10px
        height: 50px
        background-color: #ffffff
        border-radius: 10px
        font-size: 28px
        color: #ffffff00
        box-shadow: 0px 0px 60px #ffffff, 0px 0px 20px #ffffff
        // animation: merchanie 0.3s ease 4
        // animation-delay: 1s
        // &:nth-child(2n)
        //     background-color: #ff0000
        //     box-shadow: 0px 0px 60px #ff0000, 0px 0px 20px #ff0000
    &_animation
        span
            animation: merchanie 0.3s ease 6
    &__loading
        position: absolute
        top: 105%
        left: 51%
        transform: translateX(-50%)
        font-size: 40px
        font-weight: 900
        color: #ffffff00
        text-shadow: 0px 0px 12px #ffffff00
        animation: merchanie_text 0.3s ease 3
        animation-delay: 7s

.loader-container
    position: absolute
    top: 50%
    left: 50% 
    transform: translateX(-50%)
    width: 299px
    height: 190px
    color: white
    text-align: center
    font-weight: bold
    line-height: 200px
    overflow: hidden
    font-size: 120px
    span
        text-shadow: 0px 0px 10px white
        margin-top: 100px
@keyframes load
    100%
        transform: translateY(-27800px)

.loader
    animation: load 6s steps(139, end) 1
    animation-delay: 2s
    animation-fill-mode: forwards
    &_hidden
        display: none

////
.clock-inner
    position: absolute
    background: #00000000
    border-radius: 50%
    width: 360px
    height: 360px
    top: calc(50% - 65px)
    left: calc(50% - 185px)
    box-shadow: inset 0px 0px 40px #ffffff, 0px 0px 40px #ffffff
    animation: hidden_inner 2s ease 1
    &_green
        box-shadow: inset 0px 0px 40px #000000, 0px 0px 40px #000000
    &_hidden
        display: none

// .clock-minutes
//     height: 130px
//     width: 5px
//     transition: 0.5s
//     background: #ffffff00
//     border-radius: 5px
//     position: absolute
//     top: calc(50% - 130px)
//     left: calc(50% - 1px)
//     transform-origin: 1px 130px
//     animation: clock 60s steps(60, end) infinite
//     box-shadow: inset 0px 0px 40px #ffffff81, 0px 0px 40px #ffffff
// .clock-minutes:before
//     content: ""
//     position: absolute
//     width: 8px
//     height: 8px
//     border-radius: 50%
//     background: #ffffffb9
//     box-shadow: 0px 0px 10px #ffffff
//     top: 99%
//     left: 50%
//     transform: translateX(-50%)